{% load static %}
<!doctype html>
<html lang="en">
    <meta charset="utf-8">
<title>currency rates</title>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>


  <body>

        {% block content %} {% endblock %}
    </div>


  </body>
</html>
</div>