{% extends 'base.html' %}

{% load static %}


<html lang="en">
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static  '/css/style.css'  %}">
    </head>
<body>
{% block content %}
      <h2>Historical Exchange Rates</h2>
  <p>To get historical data, select the desired currency and enter the date in the "day-month-year" format: 01-05-2021</p>
    <form method="POST" class="post-form">{% csrf_token %}

<div class="list">
        <select id="currency" name='currency'>
        <option value="UAH">UAH</option>
           </select>
           <input id="period1" type="text" placeholder="Please give start date" value=""
          name='period1'>
   <input id="period2" type="text"  placeholder="Please give end date" value=""
          name='period2'>
        <button type="submit" >Save</button>
    </form>
{% endblock %}
</div>
</body>

